body{
    font-family: "Rubik", sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.menu{
   min-width: 250px;
   max-width: 250px;
   position: fixed;
   height: 100%;
   
}
.menu-item:hover{
    background-color: #334D75;
}

.conteudo{
    position: absolute;
    height: 100%;
    width: calc(100% - 250px);
    left: 250px;
    background-color: #828D9E;
    background-repeat: repeat;
}

.janela{
    background-color: #FFFDF6;
    height: 70%;
    width: 50%;
    position: absolute;
    right: 0;
    left: 0;
    top:0;
    bottom:0;
    margin: auto;
    align-items: stretch;
}
.janela i{
    font-size: 100px;
    
}

.professor{
    background-color: aquamarine;
}
.aluno
{
    background-color: burlywood;
}
