body{
    font-family: "Rubik", sans-serif;
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.menu{
   min-width: 250px;
   max-width: 250px;
   position: fixed;
   height: 100%;
   z-index: 10;
}
.menu-item:hover{
    background-color: #334D75;
}

.conteudo{
    position: absolute;
    height: 100%;
    width: calc(100% - 250px);
    left: 250px;
}

.bg-pag-inicial
{
    background-color: #828D9E;
}

.bg-interno{
    background-color: #DFDFDF;
}

.janela{
    margin-top: 30vh;
}
.login i{
    font-size: 100px;
}

.login
{
    background-color: #D7D3C5;
    border-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity));
    border-style: solid;
    border-width: medium;
}

.meu-btn{
    color: #fff;
    background-color: #334D75;
    border-color: #334D75;
}

.meu-btn i{
    height: 20px;
    min-width: 1em;
    position: relative;
    top: 0.1em;
}

.meu-btn:hover{
    color: #fff;
    cursor: pointer;
    background-color: #445C80;
}

.header-interno{
    background-color: aquamarine;
        
}